body{
    font-family: sans-serif;
    background-color: rgb(123, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculadora{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px 30px;
    border-radius: 10%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#content{
    text-align: center;
    margin: 0 auto;
}

#output{
    background-color: rgb(236, 236, 236);
    margin-top: 20px;
    padding: 4px;
    height: 20px;
    border: solid 1px black;
}